.user-view {

  #profile-img {
    height: 10rem;
    display: inline-block;
  }
  #user-info {
    margin-left: 3rem;
    vertical-align: top;
    display: inline-block;
    h2 {
      color: black;
    }

    p {

    }
  }
}